*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Harmattan';
  width: 100vw;
  background-color:#f5ddc5;
}

header {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: linear-gradient(#acd4c3,#5f70bd,#acd4c3);
  height: 180px;
  /* border-bottom: 2px solid #493a7e; */
}

.header-box {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: left;
}

footer {
  bottom: 0px;
  width: 100%;
  background: linear-gradient(#acd4c3,#5f70bd,#acd4c3);
  color:white;
  text-align: center;
  height: 140px;
  font-size: 12px;
  font-variant: small-caps;
  /* border-top: 2px solid #493a7e; */
}

.footP {
  margin: 50px 0 0 0;
}

.shadyLogo {
  position: fixed;
  top: 0px; left: 0px;
  font-variant: small-caps;
  font-family: 'Gloria Hallelujah';
  text-shadow: #493a7e 1px 0 10px;
  color: white;
  font-size: calc(25px + 80 * ((100vw - 300px)/1300));
  font-size: 5vw;
  text-align: left;
  margin: 10px 10px 0px 20px;
}

#shadyShoals {
  height:90%;
  box-shadow: 0 0 8px 8px #493a7e inset;
}

#ShadyShoalsBlur {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 231px 182px;
  height: 100%;
}


h1 {
  font-family: 'Handlee';
  margin: 250px 0 20px 0;
  color: #493a7e;
  text-align: center;
}

p {
  text-align: center;
}

.nav-bar-ul {
  position: fixed;
  top: 130px;left: 10px;
  background: none;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-variant: small-caps;
  font-weight: bolder;
  font-family: 'Handlee';
  text-decoration: none;
  text-shadow: #acd4c3 1px 0 10px;
  background: linear-gradient(#acd4c3,#6d86c4,#acd4c3);
  color: #493a7e;
  font-weight: bold;
  border-radius: 25% 10%;
  box-shadow: 0px 0px 15px 5px #5a67b4;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.register, .login {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgb(187,154,195);
  /* border: 1px solid white; */
  box-shadow: 0px 0px 5px 5px #5a67b4;
}

.form-input {
  margin: auto;
  text-align: center;
  display: block;
}

.form-label {
  text-align: center;
  display: block;
}

.loginInput, .regInput, .regSelect {
  height:20px;
  text-align: center;
  margin: 15px;
  width: 250px;
  box-shadow: 0px 0px 10px 5px #5a67b4;
  border: 2px solid #5a67b4;
}

.regSelect:hover {
  box-shadow: 0px 0px 10px 5px #eb5f30;
}

.loginInput:hover {
  box-shadow: 0px 0px 10px 5px #eb5f30;
}

.regInput:hover {
  box-shadow: 0px 0px 10px 5px #eb5f30;
}

.regSelect {
  margin: 10px auto;
}

#patInfo{
  display: none;
  flex-direction: column;
  align-items: center;
}

a {
  font-variant: small-caps;
  font-weight: 600;
  text-shadow: #acd4c3 1px 0 10px;
  text-decoration: none;
  color: #493a7e;
}

a:hover {
  text-decoration: underline;
  text-shadow: #eb5f30 1px 0 10px;
}

button, .buttonLink {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: bold;
  font-family: 'Handlee';
  margin: 20px 0 20px; 0;
  padding: 15px;
  text-shadow: #acd4c3 1px 0 10px;
  background: linear-gradient(#acd4c3,#6d86c4,#acd4c3);
  color: #493a7e;
  font-weight: bold;
  border-radius: 25% 10%;
  border: 1px solid #493a7e;
}

.b2{
  padding: 5px;
  margin: 0;
}

button:hover {
  background: linear-gradient(#6d86c4,#acd4c3,#6d86c4);
  box-shadow: 0px 0px 10px 5px #eb5f30;
  border: 1px solid #acd4c3;
}

.other {
  font-size: 14px;
  font-weight:bold;
  padding: 3px;
  width: 130px;
  background: linear-gradient(#e95e34,#e98f34,#e95e34);
}

.homeP {
  margin:30px;
}

.homeMain{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 10px 0 40px 0;
  padding: 10px;
  width: 100%;
}

.patient_search {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 200px;
}

nav {
  font-size: 20;
  width: 16vw;
  background-color: #acd4c3;
  border: 1px solid #493a7e;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navLink {
  color: #493a7e;
}

ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
}

.homeContent {
  text-align: center;
  font-family: 'Harmattan';
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeForm {
  font-size: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgb(187,154,195);
}
.homeForm2 {
  font-size: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: rgb(187,154,195);
}

.t1, .td1 {

}

.no_i {
  width: 30px;
}

#home_div {
  display: inline-block;
}

#userStatus, #employeeList, #newRoleForm, #newRoster, #pat_reg_form, #usersView,
#appt_pat_id, #create_appt{
  display: none;
}

#newRoster {
  flex-direction: column;
}

.homeButton {
  font-size: 14px;
  padding: 3px;
  width: 100px;
}

.data-table {
  width: 100%;
  padding: 5px;
  margin: 20px auto;
  background-color: rgb(187,154,195);
}

.data-heading, .data-heading2 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 22px;
}

.data-heading2{
  padding: 5px 10px;
  width: 12%;
}

.ugh {
  border: 2px solid red;
}

.table-data,.table-data2 {
  background-color: #f5ddc5;
}

.table-data2 {
  padding: 5px 10px;
  width: 13.3%;
}

#pat-t-d{
  width:20%;
}

#pat_table, #pat_table_head, #pat_table_body{
  display:block;
}

#pat_table_head {
  display: flex;
  flex-direction: row;
}

.apt_date {
  margin: 0 10px 0 10px;
}

#pat_table_head{
  padding: 5px 20px;
}

#pat_table{
  text-align: center;
  padding: 10px;
  background-color: rgb(187,154,195);
}

#pat_table_body {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.pat_search_thead, .pat_search_tbody{
  display: block;
  border:1px solid white;
}

.pat_search_tbody {
    height: 200px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

td {
  style=font-size:18;
  font-weight:bold;
  padding:5px;
}

.buttonLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 3px 15px;
}

th {
  font-size: 24px;
  background-color: #6d86c4;
  font-weight: bold;
}

.empEdit {
  display: inline-block;
}

#role_list {
  display: none;
}
.rosForm {
  display: block;
}
.admin-reports{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

#ad-rep-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
